/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
  width: 880px;
  margin: auto;
}

header {
  margin: 2.5rem 0 1.25rem;
  padding: 1.25rem 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

header .fixed-nav-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 65px;
  background: #0a67ce;
  background: -moz-linear-gradient(
    -45deg,
    #0a67ce 0%,
    #2795a4 42%,
    #8778c5 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    #0a67ce 0%,
    #2795a4 42%,
    #8778c5 100%
  );
  background: linear-gradient(135deg, #0a67ce 0%, #2795a4 42%, #8778c5 100%);
}

header .fixed-nav-bar ul {
  margin-left: 15%;
}
header .fixed-nav-bar ul li {
  align-content: center;
  padding: 0.625rem;
  margin-left: 0.625rem;
  margin-bottom: 0.625rem;
}

header .fixed-nav-bar a {
  margin: 0 1.25rem;
}

header .fixed-nav-bar a:link {
  color: #171717;
  text-decoration: none;
}
header .fixed-nav-bar a:visited {
  color: #e52b50;
  text-decoration: none;
}

header .fixed-nav-bar a:hover {
  margin: 0 0.625rem;
  border: 1px solid lightgray;
  padding: 1.25rem;
  border-radius: 1.25rem;
  color: blue;
  text-decoration: none;
  margin-bottom: 1.25rem;
  -webkit-box-shadow: 15px 13px 10px -3px rgba(46, 45, 3, 0.75);
  box-shadow: 15px 13px 10px -3px rgba(46, 45, 3, 0.75);
}

header .fixed-nav-bar img {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

header .fixed-nav-bar img:hover {
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    inset 0px 0px 0px 0px rgba(25, 98, 221, 0.77);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    inset 0px 0px 0px 0px rgba(25, 98, 221, 0.77);
}

header .nav-items {
  margin-top: 1.25rem;
  display: flex;
}


.top {
  display: flex;
  justify-content: space-between;
}

.top .market-action {
  vertical-align: top;
  font-size: 77px;
  margin-top: 7.5rem;
  text-align: center;
  padding: 0rem 4.6875rem;
}

/* .market-action h1 {
	font-size: 75px;
	text-align: center;
} */

.market-action .slogan {
  vertical-align: top;
  font-size: 77px;
  margin-top: 1.5rem;
  text-align: center;
  padding: 0rem 4.6875rem;
}
.market-action button {
  background: white;
  vertical-align: top;
  margin-top: 0.375rem;
  padding: 0.5rem 2.75rem;
  font-size: 17px;
  border: 1px solid black;
  cursor: pointer;
}
.market-action button:hover {
  background: dodgerblue;
  color: white;
}
.top img {
  display: flex;
  justify-content: flex-end;
}

.main-content {
  border-top: 2px solid black;
  margin-top: 4.75rem;
  padding-top: 2.4375rem;
}

.top-content {
  display: flex;
  justify-content: space-between;
}

.feature-content {
  text-align: left;
  padding: 0.625rem;
  display: flex;
  flex-flow: row nowrap;
  height: 8.875rem;
}

.features {
  width: 46%;
  margin-right: 2%;
}

.about {
  width: 46%;
  margin-left: 2%;
}


.middle-content img {
  margin-top: 10px;
}

.bottom-content {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

.services {
  width: 30%;
}

.product {
  width: 30%;
  margin: 0 3%;
}

.vision {
  width: 30%;
}

.contact {
  margin-top: 50px;
  border-top: 2px solid black;
  padding: 1.875rem 0.625rem 0;
}
.contact-info {
  align-items: left;
}

.contact-info a:link {
  text-decoration: none;
}

.span:hover {
  color: red;
}
footer {
  margin: 6.25rem 0 12.5rem 0;
  text-align: center;
}
.copyright:hover {
  color: purple;
}
