/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.container {
  width: 880px;
  margin: 0 auto;
}

/* header */
header {
  margin: 2.5rem 0 1.25rem;
  padding: 1.25rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 80px;
  background: #0a67ce;
  background: -moz-linear-gradient(
    -45deg,
    #0a67ce 0%,
    #2795a4 42%,
    #8778c5 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    #0a67ce 0%,
    #2795a4 42%,
    #8778c5 100%
  );
  background: linear-gradient(135deg, #0a67ce 0%, #2795a4 42%, #8778c5 100%);
}

header .fixed-nav-bar ul {
  margin-left: 31.25rem;
}
header .fixed-nav-bar ul li {
  display: inline-block;
  align-content: center;
  padding: 0.625rem;
  margin-left: 0.625rem;
  margin-bottom: 0.625rem;
}

.fixed-nav-bar a {
  margin: 0 1.25rem;
}

.fixed-nav-bar a:link {
  color: #171717;
  text-decoration: none;
}
.fixed-nav-bar a:visited {
  color: #e52b50;
  text-decoration: none;
}

.fixed-nav-bar a:hover {
  margin: 0 0.625rem;
  border: 1px solid lightgray;
  padding: 1.25rem;
  border-radius: 20px;
  color: blue;
  text-decoration: none;
  margin-bottom: 1.25rem;
  -webkit-box-shadow: 15px 13px 10px -3px rgba(46, 45, 3, 0.75);
  box-shadow: 15px 13px 10px -3px rgba(46, 45, 3, 0.75);
}
.fixed-nav-bar img:hover {
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    inset 0px 0px 0px 0px rgba(25, 98, 221, 0.77);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    inset 0px 0px 0px 0px rgba(25, 98, 221, 0.77);
}

header .nav-items {
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
}

.description {
  padding: 2.1875rem 0;
}
.description h2 {
  font-size: 25px;
}

.field-services {
  padding: 2.5rem 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.field-services .item {
  background: #f4f3f4;
  border: 1px solid black;
  width: calc(50% - 1.25em);
  height: 12.5rem;
  padding: 0.625rem;
  margin: 0.625rem;
}
.field-services .item button {
  background: white;
  vertical-align: top;
  margin: 0.625rem;
  height: 2.25rem;
  padding: 10px 36px 10px 36px;
  font-size: 12px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5px;
}
.field-services .item button:hover {
  background: black;
  color: white;
}

.span:hover {
  color: red;
}

.bottom-services-info {
  display: flex;
  padding: 50px 10px 50px 0;
  justify-content: space-around;
}

.service-info-text {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 10px 10px 0;
  padding-top: 0;
}
.service-info-text li {
  list-style-type: square;
  list-style-position: inside;
  padding: 0.3125rem;
}
footer {
  margin: 6.25rem 0 12.5rem 0;
  text-align: center;
}
.copyright:hover {
  color: purple;
}
